* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif; }

.container {
  display: grid;
  grid-template-areas: "puzzle puzzle puzzle" "stickman stickman guess" "water water water";
  grid-template-columns: 1fr 1fr 1.75fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-gap: 0px;
  height: 100vh; }

guessAreaContainer {
  grid-area: guess;
  background-color: coral;
  display: flex;
  margin-bottom: 1.25rem; }
  guessAreaContainer .guessArea {
    margin: 1.5rem;
    padding: 0.75rem;
    width: 100%;
    height: 100%;
    background-color: yellow;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(3, 1fr); }
    guessAreaContainer .guessArea .letter {
      cursor: pointer;
      padding: 3px 3px;
      text-align: center;
      font-size: 1.5rem;
      background: grey; }
    guessAreaContainer .guessArea .hideGuess {
      background-color: red;
      cursor: not-allowed; }

stickmanAreaContainer {
  grid-area: stickman;
  background-color: pink;
  position: relative; }
  stickmanAreaContainer .playerArea {
    margin-top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 150px;
    height: 250px;
    position: absolute;
    background-color: grey; }
    stickmanAreaContainer .playerArea .body {
      width: 60%;
      transform: translate(30%, 0);
      height: 70%;
      background-color: red;
      position: relative; }
      stickmanAreaContainer .playerArea .body .head {
        position: absolute;
        left: 5px;
        width: 50px;
        height: 50px;
        border: 5px solid #000;
        border-radius: 50%; }
      stickmanAreaContainer .playerArea .body .torso {
        left: 27px;
        top: 48px;
        position: absolute;
        width: 5px;
        height: 70px;
        background-color: #000; }
      stickmanAreaContainer .playerArea .body .arm1 {
        left: 27px;
        top: 55px;
        position: absolute;
        width: 60px;
        height: 5px;
        background-color: #000;
        transform: rotate(-20deg); }
      stickmanAreaContainer .playerArea .body .arm2 {
        left: -25px;
        top: 85px;
        position: absolute;
        width: 60px;
        height: 5px;
        background-color: #000;
        transform: rotate(-40deg); }
      stickmanAreaContainer .playerArea .body .leg1 {
        left: -20px;
        top: 120px;
        position: absolute;
        width: 50px;
        height: 5px;
        background-color: #000; }
      stickmanAreaContainer .playerArea .body .leg1 {
        left: -11px;
        top: 140px;
        position: absolute;
        width: 60px;
        height: 5px;
        background-color: #000;
        transform: rotate(-70deg); }
      stickmanAreaContainer .playerArea .body .leg2 {
        left: 10px;
        top: 140px;
        position: absolute;
        width: 60px;
        height: 5px;
        background-color: #000;
        transform: rotate(70deg); }
    stickmanAreaContainer .playerArea #balloons {
      width: 100%;
      height: 30%;
      background-color: yellow;
      position: relative; }
      stickmanAreaContainer .playerArea #balloons .balloon-1, stickmanAreaContainer .playerArea #balloons .balloon-2, stickmanAreaContainer .playerArea #balloons .balloon-3, stickmanAreaContainer .playerArea #balloons .balloon-4, stickmanAreaContainer .playerArea #balloons .balloon-5, stickmanAreaContainer .playerArea #balloons .balloon-6 {
        position: absolute;
        width: 50px;
        height: 50px;
        border: 1px solid black;
        border-radius: 50%; }
      stickmanAreaContainer .playerArea #balloons .balloon-1 {
        left: -30px;
        background-color: purple; }
      stickmanAreaContainer .playerArea #balloons .balloon-2 {
        left: 10px;
        background-color: yellow; }
      stickmanAreaContainer .playerArea #balloons .balloon-3 {
        left: 40px;
        background-color: black; }
      stickmanAreaContainer .playerArea #balloons .balloon-4 {
        left: 70px;
        background-color: pink; }
      stickmanAreaContainer .playerArea #balloons .balloon-5 {
        left: 100px;
        background-color: green; }
      stickmanAreaContainer .playerArea #balloons .balloon-6 {
        left: 130px;
        background-color: violet; }
  stickmanAreaContainer .falling {
    animation-name: falling;
    animation-duration: 2s; }

puzzleAreaContainer {
  grid-area: puzzle;
  background-color: blue;
  display: flex; }
  puzzleAreaContainer .puzzleArea {
    width: 100vw;
    margin: 2px auto;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center; }
    puzzleAreaContainer .puzzleArea .puzzleLetter {
      text-align: center;
      font-size: 3rem;
      margin: 2px auto;
      min-width: 4rem;
      height: 4rem;
      margin: 0 0.5rem;
      background-color: gray;
      border-bottom: 3px solid black; }
    puzzleAreaContainer .puzzleArea .hidden {
      background-color: red; }

waterArea {
  grid-area: water;
  height: 10vh;
  background-color: #3987c9;
  position: relative; }
  waterArea .shark {
    position: absolute;
    top: -20px;
    height: 60px;
    width: 120px;
    background-color: silver;
    border-radius: 50%; }
    waterArea .shark.sharkMove1 {
      animation-name: leftToRight;
      animation-duration: 12s; }
    waterArea .shark.sharkMove2 {
      animation-name: rightToLeft;
      animation-duration: 12s; }

.splashScreen {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center; }
  .splashScreen .splashContent .startBtn, .splashScreen .splashContent .restartScreen .restartContent .restartBtn, .restartScreen .restartContent .splashScreen .splashContent .restartBtn {
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 0.6em;
    color: white;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; }
    .splashScreen .splashContent .startBtn:hover, .splashScreen .splashContent .restartScreen .restartContent .restartBtn:hover, .restartScreen .restartContent .splashScreen .splashContent .restartBtn:hover, .splashScreen .splashContent .startBtn:focus, .splashScreen .splashContent .restartScreen .restartContent .restartBtn:focus, .restartScreen .restartContent .splashScreen .splashContent .restartBtn:focus {
      color: #fff;
      outline: 0; }
  .splashScreen .splashContent .startBtn {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out; }
    .splashScreen .splashContent .startBtn:hover {
      box-shadow: 0 0 40px 40px white inset;
      color: black; }

.restartScreen {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #f32222;
  display: flex;
  align-items: center;
  justify-content: center; }
  .restartScreen .restartContent .splashScreen .splashContent .startBtn, .splashScreen .splashContent .restartScreen .restartContent .startBtn, .restartScreen .restartContent .restartBtn {
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 0.6em;
    color: white;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; }
    .restartScreen .restartContent .splashScreen .splashContent .startBtn:hover, .splashScreen .splashContent .restartScreen .restartContent .startBtn:hover, .restartScreen .restartContent .restartBtn:hover, .restartScreen .restartContent .splashScreen .splashContent .startBtn:focus, .splashScreen .splashContent .restartScreen .restartContent .startBtn:focus, .restartScreen .restartContent .restartBtn:focus {
      color: #fff;
      outline: 0; }
  .restartScreen .restartContent .restartBtn {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out; }
    .restartScreen .restartContent .restartBtn:hover {
      box-shadow: 0 0 40px 40px white inset;
      color: black; }

@keyframes leftToRight {
  from {
    left: 0px; }
  to {
    left: 250px; } }

@keyframes rightToLeft {
  from {
    left: 250px; }
  to {
    left: 0px; } }

@keyframes falling {
  from {
    top: 0px;
    transition-timing-function: cubic-bezier(0.7, 0.22, 0.725, 0.61); }
  65% {
    top: 480.5px;
    transition-timing-function: linear; }
  80% {
    top: 600px;
    transition-timing-function: linear; }
  to {
    top: 800px; } }
