* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: skyblue; }

.container {
  display: grid;
  grid-template-areas: "puzzle puzzle puzzle" "stickman stickman guess" "water water water";
  grid-template-columns: 1fr 1fr 1.75fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-gap: 0px;
  height: 100vh; }

guessAreaContainer {
  grid-area: guess;
  display: flex;
  margin-bottom: 1.25rem; }
  guessAreaContainer .guessArea {
    margin: 1.5rem;
    padding: 0.75rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(3, 1fr); }
    guessAreaContainer .guessArea .letter {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 3px 3px;
      font-size: 1.5rem;
      background: grey;
      border-radius: 5px;
      color: #fff; }
    guessAreaContainer .guessArea .hideGuess {
      background-color: rgba(0, 0, 0, 0);
      color: darkgray;
      cursor: not-allowed; }

stickmanAreaContainer {
  grid-area: stickman;
  position: relative; }
  stickmanAreaContainer .playerArea {
    margin-top: 8vh;
    left: 50%;
    transform: translate(-50%, 0);
    width: 150px;
    height: 250px;
    position: absolute; }
    stickmanAreaContainer .playerArea .body {
      width: 60%;
      transform: translate(30%, 0);
      height: 70%;
      position: relative; }
      stickmanAreaContainer .playerArea .body .head {
        position: absolute;
        left: 5px;
        width: 50px;
        height: 50px;
        border: 5px solid #000;
        border-radius: 50%; }
      stickmanAreaContainer .playerArea .body .torso {
        left: 27px;
        top: 48px;
        position: absolute;
        width: 5px;
        height: 70px;
        background-color: #000; }
      stickmanAreaContainer .playerArea .body .arm1 {
        left: 27px;
        top: 55px;
        position: absolute;
        width: 60px;
        height: 5px;
        background-color: #000;
        transform: rotate(-20deg); }
      stickmanAreaContainer .playerArea .body .arm2 {
        left: -25px;
        top: 85px;
        position: absolute;
        width: 60px;
        height: 5px;
        background-color: #000;
        transform: rotate(-40deg); }
      stickmanAreaContainer .playerArea .body .leg1 {
        left: -20px;
        top: 120px;
        position: absolute;
        width: 50px;
        height: 5px;
        background-color: #000; }
      stickmanAreaContainer .playerArea .body .leg1 {
        left: -11px;
        top: 140px;
        position: absolute;
        width: 60px;
        height: 5px;
        background-color: #000;
        transform: rotate(-70deg); }
      stickmanAreaContainer .playerArea .body .leg2 {
        left: 10px;
        top: 140px;
        position: absolute;
        width: 60px;
        height: 5px;
        background-color: #000;
        transform: rotate(70deg); }
      stickmanAreaContainer .playerArea .body .string1 {
        left: 90px;
        top: -60px;
        position: absolute;
        width: 1px;
        height: 115px;
        background-color: #000;
        transform: rotate(13deg); }
      stickmanAreaContainer .playerArea .body .string2 {
        left: 92px;
        top: -49px;
        position: absolute;
        width: 1px;
        height: 120px;
        background-color: #000;
        transform: rotate(20deg);
        z-index: -1; }
      stickmanAreaContainer .playerArea .body .string3 {
        left: 83px;
        top: -45px;
        position: absolute;
        width: 1px;
        height: 110px;
        background-color: #000;
        transform: rotate(-3deg);
        z-index: -1; }
    stickmanAreaContainer .playerArea #balloons {
      width: 100%;
      height: 60%;
      position: relative; }
      stickmanAreaContainer .playerArea #balloons .balloon-1, stickmanAreaContainer .playerArea #balloons .balloon-2, stickmanAreaContainer .playerArea #balloons .balloon-3, stickmanAreaContainer .playerArea #balloons .balloon-4, stickmanAreaContainer .playerArea #balloons .balloon-5, stickmanAreaContainer .playerArea #balloons .balloon-6 {
        position: absolute;
        width: 50px;
        height: 50px;
        border: 1px solid black;
        border-radius: 50%; }
      stickmanAreaContainer .playerArea #balloons .balloon-1 {
        top: 60px;
        left: 130px;
        background-color: purple; }
      stickmanAreaContainer .playerArea #balloons .balloon-2 {
        top: 60px;
        left: 70px;
        background-color: orange; }
      stickmanAreaContainer .playerArea #balloons .balloon-3 {
        top: 40px;
        left: 100px;
        background-color: lime; }
      stickmanAreaContainer .playerArea #balloons .balloon-4 {
        top: 20px;
        left: 70px;
        background-color: blue; }
      stickmanAreaContainer .playerArea #balloons .balloon-5 {
        left: 100px;
        background-color: green; }
      stickmanAreaContainer .playerArea #balloons .balloon-6 {
        top: 20px;
        left: 130px;
        background-color: red; }
  stickmanAreaContainer .falling {
    animation-name: falling;
    animation-duration: 2s; }
  stickmanAreaContainer .floating {
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; }

puzzleAreaContainer {
  grid-area: puzzle;
  display: flex; }
  puzzleAreaContainer .puzzleArea {
    width: 100vw;
    margin: 2px auto;
    display: flex;
    justify-content: center;
    align-items: center; }
    puzzleAreaContainer .puzzleArea .puzzleLetter {
      text-align: center;
      font-size: 3rem;
      margin: 2px auto;
      min-width: 4rem;
      height: 4rem;
      margin: 0 0.5rem;
      background-color: rgba(0, 0, 0, 0);
      border-bottom: 3px solid black; }
    puzzleAreaContainer .puzzleArea .hidden {
      background-color: rgba(0, 0, 0, 0);
      color: rgba(0, 0, 0, 0); }

waterArea {
  grid-area: water;
  height: 10vh;
  background-color: #3987c9;
  position: relative; }
  waterArea .shark {
    position: absolute;
    top: -10vh;
    background-color: rgba(0, 0, 0, 0); }
    waterArea .shark img {
      transform: scaleX(-1);
      width: 15vw; }
    waterArea .shark.sharkMove1 {
      animation-name: leftToRight;
      animation-duration: 4s; }
    waterArea .shark.sharkMove2 {
      animation-name: rightToLeft;
      animation-duration: 4s; }

.splashScreen {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center; }
  .splashScreen .splashContent {
    display: flex;
    align-items: center;
    justify-contenty: center;
    flex-direction: column; }
    .splashScreen .splashContent img {
      height: 50vh;
      margin: 0px auto; }
    .splashScreen .splashContent .startMessage {
      font-size: 3rem;
      margin: 0px auto;
      color: #fff; }
    .splashScreen .splashContent .startBtn, .splashScreen .splashContent .restartScreen .restartContent .restartBtn, .restartScreen .restartContent .splashScreen .splashContent .restartBtn, .splashScreen .splashContent .winScreen .winContent .playAgain, .winScreen .winContent .splashScreen .splashContent .playAgain {
      box-sizing: border-box;
      background-color: transparent;
      border: 2px solid white;
      border-radius: 0.6em;
      color: white;
      cursor: pointer;
      display: flex;
      align-self: center;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1;
      margin: 20px;
      padding: 1.2em 2.8em;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700; }
      .splashScreen .splashContent .startBtn:hover, .splashScreen .splashContent .restartScreen .restartContent .restartBtn:hover, .restartScreen .restartContent .splashScreen .splashContent .restartBtn:hover, .splashScreen .splashContent .winScreen .winContent .playAgain:hover, .winScreen .winContent .splashScreen .splashContent .playAgain:hover, .splashScreen .splashContent .startBtn:focus, .splashScreen .splashContent .restartScreen .restartContent .restartBtn:focus, .restartScreen .restartContent .splashScreen .splashContent .restartBtn:focus, .splashScreen .splashContent .winScreen .winContent .playAgain:focus, .winScreen .winContent .splashScreen .splashContent .playAgain:focus {
        color: #fff;
        outline: 0; }
    .splashScreen .splashContent .startBtn {
      transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out; }
      .splashScreen .splashContent .startBtn:hover {
        box-shadow: 0 0 40px 40px white inset;
        color: black; }

.restartScreen {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #f32222;
  display: flex;
  align-items: center;
  justify-content: center; }
  .restartScreen .restartContent {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .restartScreen .restartContent .splashScreen .splashContent .startBtn, .splashScreen .splashContent .restartScreen .restartContent .startBtn, .restartScreen .restartContent .restartBtn, .restartScreen .restartContent .winScreen .winContent .playAgain, .winScreen .winContent .restartScreen .restartContent .playAgain {
      box-sizing: border-box;
      background-color: transparent;
      border: 2px solid white;
      border-radius: 0.6em;
      color: white;
      cursor: pointer;
      display: flex;
      align-self: center;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1;
      margin: 20px;
      padding: 1.2em 2.8em;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700; }
      .restartScreen .restartContent .splashScreen .splashContent .startBtn:hover, .splashScreen .splashContent .restartScreen .restartContent .startBtn:hover, .restartScreen .restartContent .restartBtn:hover, .restartScreen .restartContent .winScreen .winContent .playAgain:hover, .winScreen .winContent .restartScreen .restartContent .playAgain:hover, .restartScreen .restartContent .splashScreen .splashContent .startBtn:focus, .splashScreen .splashContent .restartScreen .restartContent .startBtn:focus, .restartScreen .restartContent .restartBtn:focus, .restartScreen .restartContent .winScreen .winContent .playAgain:focus, .winScreen .winContent .restartScreen .restartContent .playAgain:focus {
        color: #fff;
        outline: 0; }
    .restartScreen .restartContent .restartBtn {
      transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out; }
      .restartScreen .restartContent .restartBtn:hover {
        box-shadow: 0 0 40px 40px white inset;
        color: black; }
    .restartScreen .restartContent .restartMessage {
      font-size: 3rem;
      margin: 0px auto;
      color: #fff; }
    .restartScreen .restartContent .sharkFace img {
      height: 40vh;
      margin: 10px auto; }
    .restartScreen .restartContent .solution {
      color: yellow; }

.winScreen {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #483D8B;
  align-items: center;
  justify-content: center; }
  .winScreen .winContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .winScreen .winContent img {
      height: 40vh;
      margin: 10px auto; }
    .winScreen .winContent .winMessage {
      font-size: 3rem;
      margin: 0px auto;
      color: #fff; }
    .winScreen .winContent .splashScreen .splashContent .startBtn, .splashScreen .splashContent .winScreen .winContent .startBtn, .winScreen .winContent .restartScreen .restartContent .restartBtn, .restartScreen .restartContent .winScreen .winContent .restartBtn, .winScreen .winContent .playAgain {
      box-sizing: border-box;
      background-color: transparent;
      border: 2px solid white;
      border-radius: 0.6em;
      color: white;
      cursor: pointer;
      display: flex;
      align-self: center;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1;
      margin: 5px auto;
      padding: 1.2em 2.8em;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700; }
      .winScreen .winContent .splashScreen .splashContent .startBtn:hover, .splashScreen .splashContent .winScreen .winContent .startBtn:hover, .winScreen .winContent .restartScreen .restartContent .restartBtn:hover, .restartScreen .restartContent .winScreen .winContent .restartBtn:hover, .winScreen .winContent .playAgain:hover, .winScreen .winContent .splashScreen .splashContent .startBtn:focus, .splashScreen .splashContent .winScreen .winContent .startBtn:focus, .winScreen .winContent .restartScreen .restartContent .restartBtn:focus, .restartScreen .restartContent .winScreen .winContent .restartBtn:focus, .winScreen .winContent .playAgain:focus {
        color: #fff;
        outline: 0; }
    .winScreen .winContent .playAgain {
      transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out; }
      .winScreen .winContent .playAgain:hover {
        box-shadow: 0 0 40px 40px white inset;
        color: black; }

@keyframes leftToRight {
  from {
    left: 10%; }
  to {
    left: 30%; } }

@keyframes rightToLeft {
  from {
    transform: scaleX(-1);
    left: 30%; }
  to {
    transform: scaleX(-1);
    left: 10%; } }

@keyframes falling {
  from {
    top: 0px;
    transition-timing-function: cubic-bezier(0.7, 0.22, 0.725, 0.61); }
  65% {
    top: 480.5px;
    transition-timing-function: linear; }
  80% {
    top: 600px;
    transition-timing-function: linear; }
  to {
    top: 800px; } }

@keyframes floating {
  0% {
    transform: translate(0%, 0%); }
  25% {
    transform: translate(5%, 15%); }
  50% {
    transform: translate(10%, 5%); }
  75% {
    transform: translate(0%, 15%); }
  100% {
    transform: translate(0%, 0%); } }
